/** Reset styles **/
* {
    margin: 0; padding: 0;
}

:root {
    --main-ui-framing: #ADADAD;
    --message-out: #708BD7;
    --message-in: #F0F0F0;
}

body {
    display: flex;
    height: 100dvh;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    min-width: 20ch;
    border-right: 1px solid var(--main-ui-framing);
}

nav .channel-list {
    list-style: none;
    flex-grow: 1;
}

nav .user {
    display: flex;
    padding: .5rem;
    gap: .5rem
}

nav .user img {
    width: 3rem;
    height: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main section {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: end;
}

main header {
    border-bottom: 1px solid var(--main-ui-framing);
}

main header h1 {
    margin-left: .5rem;
}

.chat {
    gap: .5rem;
    padding: .5rem;
}

.message {
    max-width: 50ch;
}

.message p {
    padding: .5em;
    border-radius: 1em;
}

.direction--in {
    align-self: self-start;
}

.direction--in p {
    background-color: var(--message-in);
}

.direction--out {
    align-self: self-end;
}

.direction--out p {
    background-color: var(--message-out);
}

main form {
    display: flex;
    gap: .5rem;
    margin: .5rem;
    border: 1px solid var(--main-ui-framing);
    border-radius: .5rem;
    padding: .5rem;
}

main form input[type=text] {
    font-size: 1.2rem;
    border: none;
    flex-grow: 1;
}