/** Reset styles **/
* {
    margin: 0; padding: 0;
}

:root {
    --main-ui-framing: #ADADAD;
}

body {
    display: flex;
    height: 100dvh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-right: 1px solid var(--main-ui-framing);
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main section {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: end;

    border-top: 1px solid var(--main-ui-framing);
    border-bottom: 1px solid var(--main-ui-framing);
}

.chat {
    gap: .5rem;
    padding: .5rem;
}

.message {
    max-width: 50ch;
    padding: .5em;
    border-radius: 1em;
}

.direction--in {
    align-self: self-start;
}

.direction--out {
    align-self: self-end;
    background-color: hsl(224.27deg 56.28% 64.12% / 97%);
}