{{define "channel"}}
<header>
    <h1>{{.Name}}</h1>
</header>
<section class="chat" hx-ext="sse" sse-connect="/im/channel/{{.UUID}}/stream" sse-swap="message" hx-swap="beforeend">
    {{with .Messages}}
        {{range .}}
            {{template "message" .}}
        {{end}}
    {{else}}
        <div class="chat--no-messages">
            {{if .IsCurrentUserAdmin}}
                <p>Users may scan this code to join your channel</p>
                <img src="{{.InvitationURL}}/qr-code" alt="QR Code">
                <p>or give them this link: <a href="{{.InvitationURL}}">{{.InvitationURL}}</a></p>
            {{else}}
                <span>No messages here yet</span>
            {{end}}
        </div>
    {{end}}
</section>
<div>
    <form class="write-box" action="/im/channel/{{.UUID}}/message" method="post" hx-post="/im/channel/{{.UUID}}/message" hx-target="main section" hx-swap="beforeend">
        <label for="write-message">
            <input type="text" id="write-message" name="message" placeholder="Type your message here...">
        </label>
        <button>Send</button>
    </form>
</div>
{{end}}