{{define "channel"}}
<header>
    <h1>{{.Name}}</h1>
</header>
<section class="chat">
    {{with .Messages}}
        {{range .}}
            {{template "message" .}}
        {{end}}
    {{else}}
        <p>No messages yet...</p>
    {{end}}
</section>
<div>
    <form class="write-box" action="/im/channel/{{.UUID}}/message" method="post" hx-post="/im/channel/{{.UUID}}/message" hx-target="main section" hx-swap="beforeend">
        <label>
            <input type="text" name="message" placeholder="Type your message here...">
        </label>
        <button>Send</button>
    </form>
</div>
{{end}}