{{define "chat"}}
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Chitchat</title>
    <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <nav hx-ext="sse" sse-connect="/im/channel/stream" sse-swap="channelList" hx-target=".channel-list" hx-swap="outerHTML">
        <span>Channels</span>
        {{template "channel-list" .Channels}}
        {{with .User}}
            {{template "user" .}}
        {{end}}
    </nav>
    <main>
        {{with .ErrorMain}}
            {{template "error-main" .}}
        {{else}}
            {{with .Channel}}
                {{template "channel" .}}
            {{else}}
                {{if .ShowNewChannelForm}}
                    {{template "new-channel-form"}}
                {{else}}
                    <p>Select channel from the menu, or <a href="/im/new-channel" hx-get="/im/new-channel" hx-push-url="true" hx-target="main" hx-swap="innerHTML">start a new one</a>.</p>
                {{end}}
            {{end}}
        {{end}}
    </main>
</body>
</html>
{{end}}