{{define "chat"}}
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Chitchat</title>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <nav>
        <span>Channels</span>
        <ul>
            {{range .Channels}}
            <li>
                <a href="/im/channel/{{.UUID}}" hx-get="/im/channel/{{.UUID}}" hx-push-url="true" hx-target="main" hx-swap="innerHTML">
                    <span>{{.Name}}</span>
                </a>
            </li>
            {{end}}
        </ul>
        {{with .User}}
        <div>
            <span>{{.Name}}</span>
        </div>
        {{end}}
    </nav>
    <main>
        {{with .ErrorMain}}
            {{template "error-main" .}}
        {{else}}
            {{with .Channel}}
                {{template "channel" .}}
            {{else}}
                {{if .ShowNewChannelForm}}
                    {{template "new-channel-form"}}
                {{else}}
                    <p>Select channel from the menu, or <a href="/im/new-channel" hx-get="/im/new-channel" hx-push-url="true" hx-target="main" hx-swap="innerHTML">start a new one</a>.</p>
                {{end}}
            {{end}}
        {{end}}
    </main>
</body>
</html>
{{end}}