{{define "register"}}
<p>Register</p>
<form class="gain-access" action="/auth/register" method="post" hx-post="/auth/register" hx-swap="outerHTML">
    <input type="hidden" name="register-session" value="{{.RegisterSession}}" autocomplete="off">
    <label>
        <input type="email" name="email" value="{{.Email}}" placeholder="Email" readonly>
    </label>
    <label>
        <input type="text" name="name" placeholder="Your name" required minlength="5">
    </label>
    <label>
        <input type="password" name="password" placeholder="Password" autocomplete="off" required minlength="5">
    </label>
    <a href="/" hx-get="/" hx-push-url="true" hx-target="main" hx-swap="outerHTML">&lt; Back</a><button>Register</button>
</form>
{{end}}